# Install a fresh new system (optional)
install

# Specify installation method to use for installation
# To use a different one comment out the 'url' one below, update
# the selected choice with proper options & un-comment it
cdrom

# Set language to use during installation and the default language to use on the installed system (required)
lang en_US.UTF-8

# Set system keyboard type / layout (required)
keyboard us

###############################################################
#platform x86, AMD64, or Intel EM64T
###############################################################
text  # you're not going to be standing there watching it, are you?

# Configure network information for target system and activate network devices in the installer environment (optional)
# --onboot	enable device at a boot time
# --device	device to be activated and / or configured with the network command
# --bootproto	method to obtain networking configuration for device (default dhcp)
# --noipv6	disable IPv6 on this device
# To use static IP configuration,
# network --bootproto=static --onboot=yes --ip=10.64.192.75 --netmask=255.255.224.0 --gateway=10.64.192.1 --nameserver 10.64.193.26,10.64.197.251
# network  --bootproto=static --device=xx:xx:xx:xx:xx:xx --gateway=xx.xx.xx.xx --hostname=xxxxxxxxxx --ip=xx.xx.xx.xx --nameserver=xx.xx.xx.xx --netmask=xx.xx.xx.xx
network --onboot=yes --device=ens192 --bootproto=dhcp --noipv6 
# Set the system's root password (required)
# Plaintext password is: server
rootpw --iscrypted $1$Dfodh6xE$ZtahRDiSGqEYodd6AFE3P0

# Configure firewall settings for the system (optional)
# --enabled	reject incoming connections that are not in response to outbound requests
# --ssh		allow sshd service through the firewall
# firewall --enabled --ssh
firewall --disabled

# Set up the authentication options for the system (required)
# --enableshadow	enable shadowed passwords by default
# --passalgo		hash / crypt algorithm for new passwords
# See the manual page for authconfig for a complete list of possible options.
authconfig --enableshadow --passalgo=sha512

# State of SELinux on the installed system (optional)
# Defaults to enforcing
selinux --permissive

# Set the system time zone (required)
timezone America/New_York --isUtc

# Specify how the bootloader should be installed (required)
# Plaintext password is: password
bootloader --location=mbr --append="crashkernel=auto rhgb quiet" --password=$1$Dfodh6xE$ZtahRDiSGqEYodd6AFE3P0
autopart --type=lvm
# Initialize all disks

clearpart --linux --initlabel

###############################################################
# Do not configure the X Window System
skipx
###############################################################

###############################################################
# Installation logging level
###############################################################
logging --level=info


# Packages selection
%packages --ignoremissing
@base
ntp
nfs-utils
nscd
ksh
kexec-tools
genisoimage
system-storage-manager
libXp.i686
-abrt
%end
# End of %packages section

%post --log=/root/ks-post.log
#sudo yum upgrade -y
yum -y install open-vm-tools
systemctl enable vmtoolsd
systemctl start vmtoolsd
systemctl enable ntpd
systemctl enable sshd
systemctl enable ypbind
%end

# Reboot after the installation is complete (optional)
# --eject	attempt to eject CD or DVD media before rebooting
reboot --eject
